# Virtual envs
venv/
.venv/
.env

# Bytecode
__pycache__/
*.pyc

# tests
tests/
docs/
*.log
.service_pids
notes.txt
set_env.sh
fund_wallets.sh
commands.txt
INCONSISTENCIES.md
PROJECT_ARCHITECTURE.md
*.txt
certs/
k8s/
k8s.zip

# node modules
frontend/node_modules/

#
traefik/certs
.vault-env
.vault/
