{{- with secret "secret/data/egs/notifications" -}}
PORT={{ .Data.data.port }}
MASTER_ADMIN_SECRET={{ .Data.data.master_admin_secret }}
JWT_SECRET={{ .Data.data.jwt_secret }}
DATABASE_URL={{ .Data.data.database_url }}
{{- end }}
