{{ with secret "secret/data/egs/payment" }}
PAYMENT_CLIENT_SECRET={{ .Data.data.payment_client_secret }}
STRIPE_Secret_key={{ .Data.data.stripe_secret_key }}
STRIPE_SECRET_KEY={{ .Data.data.stripe_secret_key }}
STRIPE_WEBHOOK_SECRET={{ .Data.data.stripe_webhook_secret }}
PAYMENT_DB_PASSWORD={{ .Data.data.payment_db_password }}
DATABASE_URL=postgresql://payuser:{{ .Data.data.payment_db_password }}@payment-postgres:5432/payment_db
{{ end }}
{{ with secret "secret/data/egs/global" }}
NOTIFICATIONS_API_KEY={{ .Data.data.notifications_api_key_payments }}
{{ end }}
