{{ with secret "secret/data/egs/payment" }}
PAYMENT_KEYCLOAK_URL={{ .Data.data.payment_keycloak_url }}
PAYMENT_KEYCLOAK_PUBLIC_URL={{ .Data.data.payment_keycloak_public_url }}
PAYMENT_PUBLIC_URL={{ .Data.data.payment_public_url }}
PAYMENT_REALM={{ .Data.data.payment_realm }}
PAYMENT_CLIENT_ID={{ .Data.data.payment_client_id }}
PAYMENT_CLIENT_SECRET={{ .Data.data.payment_client_secret }}
STRIPE_SECRET_KEY={{ .Data.data.stripe_secret_key }}
STRIPE_WEBHOOK_SECRET={{ .Data.data.stripe_webhook_secret }}
PAYMENT_DB_PASSWORD={{ .Data.data.payment_db_password }}
DATABASE_URL=postgresql://payuser:{{ .Data.data.payment_db_password }}@payment-postgres:5432/payment_db
TWILIO_ACCOUNT_SID={{ .Data.data.twilio_account_sid }}
TWILIO_AUTH_TOKEN={{ .Data.data.twilio_auth_token }}
TWILIO_FROM_NUMBER={{ .Data.data.twilio_from_number }}
{{ end }}
{{ with secret "secret/data/egs/global" }}
INTERNAL_API_KEY={{ .Data.data.notifications_api_key_payments }}
{{ end }}
