{{- with secret "secret/data/egs/transactions" -}}
SPRING_DATASOURCE_PASSWORD={{ .Data.data.transaction_db_password }}
MASTER_KEY_FOR_WALLET={{ .Data.data.master_key_for_wallet }}
KEYCLOAK_CLIENT_SECRET={{ .Data.data.keycloak_client_secret }}
APP_INTERNAL_API_KEY={{ .Data.data.app_internal_api_key }}
{{- end }}
{{- with secret "secret/data/egs/global" -}}
NOTIFICATIONS_API_KEY={{ .Data.data.notifications_api_key }}
BLOCKCHAIN_NODE_URL={{ .Data.data.blockchain_node_url }}
{{- end }}
